body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Partie images / liens recettes */

.listdiv{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 50px 0px;
    background-color: #a5a58d;
}

figure:hover{
    transform: scale(1.2);
 }
 
 figure{ 
     display: flex;
     flex-direction: column;
     background-color: #cb997e;
     padding: 0px 0px 10px 0px ;
     border-radius: 0px 0px 3px 3px;
     box-shadow: 5px 5px 10px rgb(136, 135, 135) ;
     transition: all .3s ease-in-out;
 }

figure img{
    height: 200px;
    width: auto;
    filter: blur(1px);
    
}

figure img:hover{
    filter: blur(0px);
}



figure figcaption{
    align-self: center;
    padding: 7px;
}

figure figcaption a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff1e6;
}

.plat{
    align-self: center;
    font-size: 36px;
    text-transform: uppercase;
    background-color: #6b705c;
    color: #ffe8d6;
    padding: 5px 2000px;
}

/* menu déroulant */

.btnnav {
    background-color: #e83737;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-size: 30px;
    }
    .btnnav:hover {
    background-color: #ff4444;
    }
    .navderoulant {
    position: relative;
    display: inline-block;
    }
    .recettesenvrac {
    display: none;
    background-color: #f28c8c;
    min-width: 50px;
    }
    .recettesenvrac a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    }
    .navderoulant:hover .recettesenvrac {
    display: block;
    }