.listindex{
    display: block-flex;
    padding-left: 2em;
    border: solid 2px turquoise;  
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: aquamarine;
    
}


    
    
    
}

h3{
    display: block-flex;
    padding-left: 2em;
    border: solid 2px turquoise;  
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: aquamarine;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}


.liste{
    display: inline-block;
    padding-left: 2em;
    border: solid 2px #ccc;  
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #444;
   
}

.imgrecette{
    height: 300px;
    display: block; 
    align-items: center;
}


.soustitres{
    display: inline-flex;
    margin-left: 30%;
    
}

.plat{
    padding-left: 2em;
    padding-right: 2em;
}
a, .liste-ingredient{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.h2recette, .titrerecette{
    text-align: center;
    color: white;
}

html{
    background-color: rgb(99, 99, 99);
}